.section__heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.section--hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero_bg.jpg);
  color: var(--dark-section-text-color);
  padding: 200px 0px;
  height: 600px;
  background-position: center;
  max-width: 1600px;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
}
.section__hero-heading {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: var(--letter-spacing-alternate);
  text-transform: uppercase;
  color: var(--dark-section-text-color);
  margin: 0 auto;
}
.section-skills--fromskills {
  padding: 94px 0;
}
.section-skills__list {
  display: flex;
}
.section-skills__item {
  margin-right: 30px;
  flex-basis: calc((100% - 75px) / 4);
  &:last-child {
    margin-right: 0px;
  }
}

.section-skills__subheading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: var(--letter-spacing-logo);
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-skills__content {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.services--fromservices {
  padding-bottom: 94px;
}
.services__list {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}
.services__list-item {
  margin-right: 30px;
  position: relative;
  &:last-child {
    margin-right: 0px;
  }
}

.service__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 27px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  position: relative;
  top: -20%;
  background: rgba(47, 48, 58, 0.8);
  height: 70px;
}

.team {
  background: var(--background-alternate);
  padding-top: 94px;
  padding-bottom: 94px;
  &__list {
    margin-top: 50px;
    display: flex;
  }
  &__item {
    font-weight: 500;
    margin-right: 30px;
    height: 428px;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    background: var(--background-main);

    &:last-child {
      margin-right: 0;
    }
  }
}

.section--from-customers {
  margin-top: 94px;
  margin-bottom: 94px;
}

.customers__list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  justify-content: center;
}

.card-details {
  padding-top: 30px;
  padding-bottom: 16px;

  &__member {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
  }
  &__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--alternate-text-color);
    margin-top: 10px;
  }
}

/*Portfolio page*/
.projects {
  padding: 94px 0;
  &__wrapper {
    padding: 20px 24px;
    border-top: none;
  }
  &__list {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
  &__menu {
    flex-wrap: wrap;
    display: flex;
    gap: 30px;
  }
  &__menu-item {
    width: 370px;
    border: 1px solid #eeeeee;
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
      transition: color var(--transition);
    }
  }
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.05em;
  margin-bottom: 4px;
}
.project-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--alternate-text-color);
}

.img-content {
  position: relative;
  overflow: hidden;
  &:hover .projects__menu-item--overlay {
    transform: translateY(0);
  }
}

.projects__menu-item--overlay {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--dark-section-text-color);
  padding: 63px 24px 91px 24px;
  width: 370px;
  height: 294px;
  position: absolute;
  overflow: hidden;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  color: #ffffff;
  transform: translateY(102%);
  transition: transform var(--transition);

  &:hover .projects__menu-item--overlay {
    display: block;
    transform: translateY(0);
  }
}
