.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.container--header {
  display: flex;
  justify-content: space-between;
  bottom: 1px solid #ececec;
}

.container--hero {
  text-align: center;
}
